.HeaderMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  background-color: rgb(61, 50, 109);
}

.HeaderMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderMenu--link-left,
.HeaderMenu--link-right {
  text-decoration: none;
  font-size: 15pt;
}

.HeaderMenu--link-left:hover,
.HeaderMenu--link-right:hover {
  color: #80708d;
  text-decoration: none;
  font-size: 15pt;
}

.HeaderMenu--link-left {
  color: #b4aec4;
}

.HeaderMenu--link-right {
  color: #c55a5f;
}